
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
   background-color: aqua;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


#container {
    max-width: 900px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 10px;
}


header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}


#logo {
    width: 120px;
}

